@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100dv;
  margin: 0;
  font-family: "Montserrat";
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}
h4 {
  margin: 0;
  text-transform: uppercase;
}
.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}
.money.minus {
  color: #cc2e2e;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.btn {
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}
.btn:hover {
  background-color: #887dbd;
  cursor: pointer;
}
.form-control {
  margin: 5px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px;
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px 0;
  transition: all .2s cubic-bezier(0.9,-0.85, 0.24, 0.21);
}


.list li.plus {
  border-right: 5px solid #2ecc71;
}
.list li.minus {
  border-right: 5px solid #cc2e2e;
}
li:hover{
    transform: scale(1.1);

}
.delete-btn {
  background-color: #e41d1d;
  color: #fff;
  border-radius: 3px;
  border: 1px;
  font-size: 15px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(1,-0.34, 0, 0.6);
}
.list li:hover .delete-btn{
    opacity: 1;
    

}
.delete-btn:focus{
    outline: 0;
}

